*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgba(24, 23, 51, 1);
}
nav{
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 50px; */
    background-image: linear-gradient(to bottom right,rgb(0, 74, 151),rgb(139, 0, 47));
}
#logo{
    width:200px
    
}
.list-links{
    list-style: none;
    display: inline;
    margin-right: 40px;
}
.links{
    color: rgb(255, 203, 5);
    text-decoration: none;
    font-weight: 600;

}
.links:hover{
    /* color: white; */
    /* text-decoration:rgba(24, 23, 51, 1); */
    background-color: rgba(24, 23, 51, 1);
    text-align: center;
    border: solid 0px;
    padding: 5px;
    border-radius: 10px;
}
.section-home{
    /* border: solid yellow; */
    margin: 1% 0px 0px 1%;
}

.home-title{
    text-align: center;
    font-family: "Libre Baskerville", system-ui;
    font-weight: 700;
    color: rgb(255, 203, 5);
}

.home-sub{
    text-align: center;
        font-family: "PT Serif", system-ui;
        font-weight: 400;
        font-style: italic;
        color: rgb(255, 203, 5);
}

.home-content{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox to align children side by side */
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Ensure space between image and paragraph */
    padding: 20px; /* Optional padding */
    box-sizing: border-box; /* Ensures padding does not add extra width */
}

.home-img{
    width: 45%;
    height:auto;
    border: 5px solid transparent; 
    background: linear-gradient(to right, rgb(0, 74, 151), rgb(139, 0, 47));
}

.home-par{
    color: white;
   margin-left: 70px;
    width: 50%;
    height:auto;
    font-family: "PT Serif", system-ui;   
    padding: 20px;
    background-image: linear-gradient(to bottom right,rgb(0, 74, 151),rgb(139, 0, 47));
    box-sizing: border-box;
    text-align: justify;
}

.heading{
    text-align: center;
    font-family: "Oswald", system-ui;
    font-weight: 700;
    color: rgb(255, 203, 5);
}
.section-home{
    /* border: solid yellow; */
    margin: 1% 0px 0px 1%;
}
#players{
    margin: 5% 0px 0px 1%;
    
    /* border: solid yellow; */
}
.playersdetail{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox to align children side by side */
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Ensure space between image and paragraph */
    /* padding: 20px;  */
    box-sizing: border-box; /* Ensures padding does not add extra width */
    /* border: solid yellow; */

}


.plimg{
    width: 100%;
    height:100%;
}
.gp1{
    width: 30%; /* 30% width */
    height: 100%; /* Larger height */
    text-align: center;
    color: white;
    /* border: solid red; */
}
.gp2{
    width: 20%; /* 30% width */
    height: 100%; /* Larger height */
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    
}
.name{
    font-family: "Oswald", system-ui;
    font-weight: 700;
    background: linear-gradient(to right, rgb(0, 74, 151), rgb(139, 0, 47));

}
.number{
    color: yellow;
    
}
#trophy{
    margin: 5% 0px 0px 1%;
    /* border: solid yellow; */
}
.trophycontent{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox to align children side by side */
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Ensure space between image and paragraph */
    padding: 20px; 
    box-sizing: border-box; 
    /* border: solid yellow; */

}
.cup{
    margin-top: 30px;
    width: 50%; 
    height: 100%; /* Larger height */
    /* border: solid red; */
    text-align: center;
    color: white;
    margin-left: 10px;

}
.imgtrophy{
    width: 100%;
    height:500px;
}

.trophynumber{
    font-family: "Oswald", system-ui;
    font-weight: 700;
    background: linear-gradient(to right, rgb(0, 74, 151), rgb(139, 0, 47));
}

#contact{
    margin: 5% 0px 0px 1%;
}

.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon{
    width: 50px;
    height: 50px;
    /* border: solid; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    /* background: linear-gradient(to right, rgb(0, 74, 151), rgb(139, 0, 47)); */
    color: white;
    font-size: 2rem;
}
.icon:hover{
    background: linear-gradient(to right, rgb(0, 74, 151), rgb(139, 0, 47));
}
.icon:hover .brands{
    color: white;
    /* animation */
    animation: rotate 1s;
}

@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

footer{
    margin: 5% 0px 0px 0px;
    background-color: gray;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.upArrow{
    float: right;
    /* margin: -40px 10px 5px 0px; */
    margin-top: -100px; ;
}
html{
    scroll-behavior: smooth;
}
/* scrllbar */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(to right, rgb(0, 74, 151), rgb(139, 0, 47));
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
